/* --- STYLE.CSS --- */

body {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6, label, p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.btn-primary {
	background-color: #19B2AB;
	border-color: transparent;
}
.btn-primary:hover {
	background-color:#16938e;
	border-color: transparent;
}

/* HEADER */
header {
	background-color: #19B2AB;
	border-top: 20px solid #3EFFF5;
	border-bottom: 2px solid #FF803E;
}
header h1 {
	font-size: 4em;
	color: #fff;
}

/* GET NAME */
.get-name {
	background: #FF803E;
}
.get-name-form {
	margin: 30px auto;
	padding: 10px;
	max-width: 500px;
	background-color: #FF803E;
	border-radius: 5px;
}
.get-name-form .form-group {
	text-align: center;
}
.get-name-form label {
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}
.get-name-form input[type=text] {
	text-align: center;
}

/* WELCOME */
.welcome {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	background-color: #FF803E;
	border-radius: 5px;
}
.welcome h2 {
	margin-top: 0;
	font-size: 3em;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}
.welcome h2 small {
	font-weight: 300;
	color: #fff;
}
.welcome .results {
	padding: 25px 0;
	background-color: rgba(255,255,255,.2);
	border-radius: 5px;
}
.welcome p {
	font-size: 2em;
	color: white;
}

/* ROCK PAPER SCISSORS */
.rock-paper-scissors {

}
.rock-paper-scissors ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.rock-paper-scissors ul li {
	margin: 0 25px;
	padding: 25px 0;
	display: inline-block;
	width: 115px;
	text-align: center;
	background-color: white;
	position: relative;
	z-index: 1;
	perspective: 1000;
}

.rock-paper-scissors ul li button {
	padding: 55px 0;
	width: 135px;
	background-color: transparent;
	border: 1px solid #19B2AB;
	border-radius: 5px;
	position:relative;
	transform-style: preserve-3d;
  transition: all 0.6s linear;
}
.rock-paper-scissors ul li button:hover {
	transform: rotateY(180deg);
}
.rock-paper-scissors ul li button .face {
	padding-top:15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.rock-paper-scissors ul li button .face.back {
	padding-top: 30px;
  display: block;
  transform: rotateY(180deg);
  font-size: 2em;
  font-weight: 100;
  color: #19B2AB;
  text-align: center;
  background-color: transparent;
}